<table>
<%= form_for @student do |f| %>
<tr>
	<td>First Name:</td>
	<td><%= f.text_field :first_name %>
	 <%= validation_errors @student.errors['first_name'] %></td>
</tr>
<tr>
	<td>Middle Name:</td>
	<td><%= f.text_field :middle_name %></td>
</tr>
<tr>
	<td>Last Name:</td>
	<td><%= f.text_field :last_name %></td>
</tr>
<tr>
	<td>Phone:</td>
	<td><%= f.text_field :phone %>
		<%= validation_errors @student.errors['phone'] %></td>
</tr>
<tr>
	<td>Date of Birth:</td>
	<td><%= f.text_field :date_of_birth %></td>
</tr>
<tr>
	<td>Email:</td>
	<td><%= f.text_field :email %>
		<%= validation_errors @student.errors['email'] %></td>
</tr>
<tr>
	<td>Address:</td>
	<td><%= f.text_area :address %></td>
</tr>
<tr>

	<tr>
	<td>College:</td>
	<% @colleges = College.all %>
	<td> <%= f.select :college_id, options_for_select(@colleges.collect {|p| [ p['college_name'], p['id']] }) %></td>
</tr>
	
	<td colspan='2'><%= f.submit %>&nbsp;&nbsp; <%= link_to 'Cancel',students_path %></td>
</tr>
 
<% end %>
</table>