<h2>Student List</h2>
<%= link_to 'Create New Student', new_student_path %>
<table width='100%' border='3%'>

    <th>First Name</th>
	<th>Last Name</th>
	<th> Options</th>

	<% @students.each do |i| %>
	
	<tr>
      <td><%= i.first_name %></td>
      <td><%= i.last_name %></td>
      <td><%= link_to 'view details',student_path(i.id) %> | 
          <%= link_to 'Edit Student',edit_student_path(i.id) %> |
      	  <%= link_to 'Delete',student_path(i.id),  :data => { :method => :delete,:confirm => "Are you Sure to delete this Student?"}  %></td>
     </tr>

<%end%>

</table>
