<h2>View Student Details</h2>
<table>

<tr>
	<td>First Name:</td>
	<td><%= @student.first_name %></td>
</tr>
<tr>
	<td>Middle Name:</td>
	<td><%= @student.middle_name %></td>
</tr>
<tr>
	<td>Last Name:</td>
	<td><%= @student.last_name %></td>
</tr>
<tr>
	<td>Phone:</td>
	<td><%= @student.phone %></td>
</tr>
<tr>
	<td>Date of Birth:</td>
	<td><%= @student.date_of_birth %></td>
</tr>
<tr>
	<td>Email:</td>
	<td><%= @student.email %></td>
</tr>
<tr>
	<td>Address:</td>
	<td><%= @student.address %></td>
</tr>
<tr>
	<td>College:</td>

	<td><%= @student.college.college_name %></td>
</tr>


</table>
<%= link_to 'back',students_path %>