<table>
<%= form_for @idcard do |f| %>
<tr>
	<td>Idcard Name:</td>
	<td><%= f.text_field :name %>
	 <%= validation_errors @idcard.errors['name'] %></td>
</tr>
<tr>
	<td>Designation:</td>
	<td><%= f.text_field :designation %>
	<%= validation_errors @idcard.errors['designation'] %></td>
</tr>
<tr>
	<td>Card Type:</td>
	<td><%= f.text_field :idcard_type %>
	<%= validation_errors @idcard.errors['idcard_type'] %></td>
</tr>
<tr>
	<td>Student id:</td>
	<% @students = Student.all %>
	<td> <%= f.select :student_id, options_for_select(@students.collect {|p| [ p['first_name'], p['id']] }) %></td>
</tr>


<tr>
	
	<td colspan='2'><%= f.submit %>&nbsp;&nbsp; <%= link_to 'Cancel',idcards_path %></td>
</tr>
 
<% end %>
</table>