<h2>Idcards List</h2>
<%= link_to 'Create New Idcard', new_idcard_path %>
<table width='100%' border='3%'>

    <th>Employee Name</th>
	<th>Designation</th>
	<th> Options</th>

	<% @idcards.each do |i| %>
	
	<tr>
      <td><%= i.name %></td>
      <td><%= i.designation %></td>
      <td><%= link_to 'View Details',idcard_path(i.id) %> | 
        <%= link_to 'Edit Details',edit_idcard_path(i.id) %> |
      	<%= link_to 'Delete',idcard_path(i.id),  :data => { :method => :delete,:confirm => "Are you Sure to delete this Student?"}  %></td>
     </tr>

<%end%>

</table>