<h2>View Idcard Details</h2>
<table>

<tr>
	<td>Idcard Name:</td>
	<td><%= @idcard.name %></td>
</tr>
<tr>
	<td>Designation:</td>
	<td><%= @idcard.designation %></td>
</tr>
<tr>
	<td>Idcard Type:</td>
	<td><%= @idcard.idcard_type %></td>
</tr>

<tr>
	<td>Student name:</td>

	<td><%= @idcard.student.first_name unless @idcard.student_id.nil? %></td>
</tr>

</table>
<%= link_to 'back',idcards_path %>