<table>
<%= form_for @college do |f| %>
<tr>
	<td>College Name:</td>
	<td><%= f.text_field :college_name %>
	 <%= validation_errors @college.errors['college_name'] %></td>
</tr>
<tr>
	<td>College Code:</td>
	<td><%= f.text_field :college_code %>
	<%= validation_errors @college.errors['college_code'] %></td>
</tr>
<tr>
	<td>Address:</td>
	<td><%= f.text_field :address %>
	<%= validation_errors @college.errors['address'] %></td>
</tr>

<tr>
	
	<td colspan='2'><%= f.submit %>&nbsp;&nbsp; <%= link_to 'Cancel',colleges_path %></td>
</tr>
 
<% end %>
</table>