<h2>College List</h2>
<%= link_to 'Create New College', new_college_path %>
<table width='100%' border='3%'>

    <th>College Name</th>
	<th>College Code</th>
	<th> Options</th>

	<% @colleges.each do |i| %>
	
	<tr>
      <td><%= i.college_name %></td>
      <td><%= i.college_code %></td>
      <td><%= link_to 'View Details',college_path(i.id) %> | 
        <%= link_to 'Edit Details',edit_college_path(i.id) %> |
      	<%= link_to 'Delete',college_path(i.id),  :data => { :method => :delete,:confirm => "Are you Sure to delete this Student?"}  %></td>
     </tr>

<%end%>

</table>