<h2>View College Details</h2>
<table>

<tr>
	<td>Colleges Name:</td>
	<td><%= @college.college_name %></td>
</tr>
<tr>
	<td>College Code:</td>
	<td><%= @college.college_code %></td>
</tr>
<tr>
	<td>Address:</td>
	<td><%= @college.address %></td>
</tr>
<tr>
	<td>Students:</td>
	<td><%= @college.students.count %></td>
</tr>
<table width='100%' border='3%'>

    <th>First Name</th>
	<th>Last Name</th>
	<th> Options</th>
	<% if @college.students.empty? %>
	<tr>
		<td> No students found </td>
	</tr>
	<% else %>


	<% @college.students.each do |i| %>
	
	<tr>
      <td><%= i.first_name %></td>
      <td><%= i.last_name %></td>
      <td><%= link_to 'view details',student_path(i.id) %> | 
          <%= link_to 'Edit Student',edit_student_path(i.id) %> |
      	  <%= link_to 'Delete',student_path(i.id),  :data => { :method => :delete,:confirm => "Are you Sure to delete this Student?"}  %></td>
     </tr>
<%end%>
<%end%>

</table>

</table>
<%= link_to 'back',colleges_path %>