<table>
<%= form_for @course do |f| %>
<tr>
	<td>Course Name:</td>
	<td><%= f.text_field :course_name %>
	 <%= validation_errors @course.errors['course_name'] %></td>
</tr>
<tr>
	<td>Course Code:</td>
	<td><%= f.text_field :course_code %>
	<%= validation_errors @course.errors['course_code'] %></td>
</tr>
<tr>
	<td>Description:</td>
	<td><%= f.text_field :description %>
	<%= validation_errors @course.errors['description'] %></td>
</tr>

<tr>
	
	<td colspan='2'><%= f.submit %>&nbsp;&nbsp; <%= link_to 'Cancel',courses_path %></td>
</tr>
 
<% end %>
</table>