<h2>Courses List</h2>
<%= link_to 'Create New Course', new_course_path %>
<table width='100%' border='3%'>

    <th>Course Name</th>
	<th>Course Code</th>
	<th> Options</th>

	<% @courses.each do |i| %>
	
	<tr>
      <td><%= i.course_name %></td>
      <td><%= i.course_code %></td>
      <td><%= link_to 'View Details',course_path(i.id) %> | 
        <%= link_to 'Edit Details',edit_course_path(i.id) %> |
      	<%= link_to 'Delete',course_path(i.id),  :data => { :method => :delete,:confirm => "Are you Sure to delete this Student?"}  %></td>
     </tr>

<%end%>

</table>