<h2>View Course Details</h2>
<table>

<tr>
	<td>Course Name:</td>
	<td><%= @course.course_name %></td>
</tr>
<tr>
	<td>Course Code:</td>
	<td><%= @course.course_code %></td>
</tr>
<tr>
	<td>Description:</td>
	<td><%= @course.description %></td>
</tr>

</table>
<%= link_to 'back',courses_path %>