<!DOCTYPE html>
<html>
<head>
  <title>BalaTestApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Idcards',idcards_path unless params[:controller] == 'idcards'%>
<%= link_to 'Colleges',colleges_path unless params[:controller] == 'colleges'%>
<%= link_to 'Students',root_path unless params[:controller] == 'students'  %>
<%= link_to 'Courses',courses_path unless params[:controller] == 'courses'%>

<%= yield %>

</body>
</html>
